/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-abr-2017, 20:53:05
    Author     : kerly
*/

body {margin:0;
      	height: 100%;
        font-family: 'Love Ya Like A Sister', cursive;
	height: 100%;
	width: 100%;
	overflow-x:hidden;   
       
        background-size: cover;
}

.navbar{
    background-color: black;
    color:white;
    
}

input.invalid {box-shadow: 0 0 5px 1px red;}
.navbar .navbar-brand {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2.5vw;
    padding-top: 0px;
    color:#1ABC9C;
}
.navbar li{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 20px;
    
}

.navbar li:hover{
    background-color: #1ABC9C;
    border-radius: 12px;  
}

.panel-body {
    background-color: white;
    margin-top: 0px;
    background-color: #D6FFF7;
    
}



#panel2{

    margin-left: auto;
    margin-right: auto;
    
}





.titulo1{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 3vw;
    background-color: white;
    text-align: center;
   
    
}

.titulo2{
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
    color: #216556;
}

.titulo3{
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    text-shadow: 3px 3px 2px black;
    opacity: 0.8;
    text-align: center;
    
}

.titulo4{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 3.5vw;
    background-color: white;
    text-align: left;
   
    
}

.texto{
    font-family: 'Cabin Sketch', cursive;
    font-size: 15px;
    color: #486486;
}

.iconn{
    width: 40px;
    height: 40px;
}

#imgTiquete {
    width: 300px;
    height: 300px;
}




table.grid thead tr {border:1px solid black; background-color: black; color: #ffffff; }
table.grid thead tr th{border:inherit;}


table.grid tbody tr{border:1px solid black; background: white;}
table.grid tbody td{border:1px solid black; }


table.grid tbody tr:hover {background:#1ABC9C ;}

table.grid tbody tr td{border:inherit;}

.tbl{
    margin-left: auto;
    margin-right: auto;
}

.tbl td{
    width: 40px;
    height: 40px;
}

.tbl button.asDisp:hover{
    background-color: black;
    color:white;
}

.tbl button.asDisp{
    border:1px solid black; 
    background: #60E038;
    width: inherit;
    height: inherit;
}

.tbl button:disabled{
    border:1px solid black; 
    background: red;
    width: inherit;
    height: inherit;
}




p {
text-align : justify;
}

#logoR{
    float: right;
}
#logoL{
    float: left;
    margin-right:10px;
    
    
}

#formularioDiv{
    display: inline-block; 
    vertical-align:middle; 
    background-color: black;
    position: relative;
    width: 100%;
    margin-top: -15px; 
    text-align: center;
    border-radius: 10px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    
}
label{
    color: #1ABC9C;
    background-color: black;
}

.log tbody{
    text-align: center;
}


.imagen-ofertaD {

        width:100%;

        height:35vw;

        position:relative;
        
}
.imagen-ofertaI {

        width:100%;

        height:100%;

        position:relative;
        
}

.buybtn{
    background-color: black;
    opacity: 0.5;
    border-radius: 10px;
    font-size: 20px;
}

.buybtn:hover{
    opacity: 1;
}



html,body{
    position: relative;
    height: 100%;
}

.panel-title {display: inline;font-weight: bold;}
.pl-ziro { padding-left: 0px; }
