/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-abr-2017, 20:53:05
    Author     : kerly
*/

body {margin:0;}

.navbar{
    background-color: black;
    color:white;
    
}


.navbar .navbar-brand {
    font-family: 'Cabin Sketch', cursive;
    font-size: 35px;
    padding-top: 5px;
    color:#6EA498;
}
.navbar li{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 20px;
    
}

.navbar li:hover{
    background-color: #256E5D;
    border-radius: 12px;  
}







